*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.centered{
     display: flex;
     align-items: center;
     justify-content: center;
}

.containerPage{
     display: flex;
     background-image: url("/img/background-desktop.png");
     background-size: cover;
     flex-direction: column !important;
     height: 100vh !important;
     max-width: 1920px !important;
}

.containerPage img{
     background-size: cover !important;
     max-width: 1920px !important;
     width: 100% !important;
}

.initialPhrase h1{
     left: auto;
     position: absolute;
     top: 5%;
     z-index: 30;
}

.drRafael{
     min-height: 100vh !important;
}

.drRafael h1{
     margin-bottom: 10vh !important;
}

.drRafael img{
     background-size: 60% !important;
}

.drRafael p{
     font-size: 1.2rem;
     line-height: 40px;
     margin-bottom: 20px;
}

.secondPhrase{
     align-items: center;
     display: flex;
     flex-direction: column;
     height: auto !important;
     justify-content: center;
}

.oferta{
     align-items: center;
     background-color: #484B57;
     display: flex;
     flex-direction: column;
     justify-content: center;
     max-width: 1920px !important;
     min-height: 80vh !important;
}

.containerCards{
     align-items: center !important;
     display: flex !important;
     flex-wrap: wrap;
     justify-content: center !important;
     max-width: 1920px !important;
     min-height: 70vh !important;
     width: 100%;
}

.cards{
     align-items: center;
     background-color: white;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     max-width: 30rem;
     min-height: 25rem;
}

.cards:hover{
     transform: scale(1.1);
     transition: 0.4s ease-in-out;
     box-shadow: 3px 6px 9px rgb(31, 30, 30);
     margin: 10px;
}

#badge{
   margin-left: 94%;
   margin-top: -15%;
}

.sectionTitle h3{
     width: 200px;
}

.sectionTitle{
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.boxs{
     align-items: center;
     display: flex;
     height: 40px;
     justify-content: center;
     width: 40px;
}

.box{
     background-color: lightgrey;
     border-radius: 5px;
}

.garantias{
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     min-height: auto;
}

.boxGarantia{
     align-items: center;
     border-radius: 20px;
     box-shadow: 8px 8px 8px grey;
     display: flex;
     justify-content: center;
     max-width: 1000px !important;
     min-height: auto;
}

.boxGarantia img{
     width: 120px !important;
     margin-left: 20px;
}

#btnComprar{
     border-radius: 25px !important;
}

.resuts{
     min-height: 90vh !important;
}

.resultsTitle{
     flex-direction: column;
}

.resultsPhotos{
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100vw;
}

.faq{
     background-color: #484B57;
     flex-direction: column;
     min-height: 80vh !important;
}

.doubt{
     border-bottom: 1px solid white;
     justify-content: flex-start;
     width: 70vw;
}

.doubt p{
     letter-spacing: 1px;
}

.anti-OX{
     background-color: white;
     flex-direction: column;
     max-width: 1920px !important;
}

.anti-OX-text p{
     font-size: 1.1rem;
     margin-left: 40px !important;
}

.advantages i{
     font-size: 0.4rem !important;
}

#btnComprar{
     background-color: #FF594E;
} 

.ticks p{
     margin-bottom: 8px;
}

.disccount{
     display: flex;
     align-items: center;
     display: flex;
     background-color: lightgrey;
     width: fit-content;
     border-radius: 5px;
     min-height: auto;
}

.disccount p{
     letter-spacing: 1px;
}

.anti-OX-Details{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.rodape{
     display: flex;
     align-items: center;
     justify-content: space-between;
     flex-direction: column;
     background-color: rgb(230, 216, 216);
     height: 30vh !important;
}

.rodape p{
     font-size: 0.9rem;
     color: grey;
}

.brandFooter{
     display: flex;
     align-items: center;
     justify-content: space-between !important;
}




